<table>
    <tr>
        <td>
            <strong>
                ID
            </strong>
        </td>
        <td>
            {id}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Name
            </strong>
        </td>
        <td>
            {name}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Memory Address
            </strong>
        </td>
        <td>
            {memory_address}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                First Name
            </strong>
        </td>
        <td>
            {first_name}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Last Name
            </strong>
        </td>
        <td>
            {last_name}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Email Address
            </strong>
        </td>
        <td>
            {email}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Institution
            </strong>
        </td>
        <td>
            {institution}
        </td>
    </tr>
</table>