<table>
    <tr>
        <td>
            <strong>
                ID
            </strong>
        </td>
        <td>
            {id}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Version
            </strong>
        </td>
        <td>
            {version}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Name
            </strong>
        </td>
        <td>
            {name}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Memory Address
            </strong>
        </td>
        <td>
            {memory_address}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Number of Metabolites
            </strong>
        </td>
        <td>
            {number_of_metabolites}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Metabolites
            </strong>
        </td>
        <td>
            {metabolites}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Number of Reactions
            </strong>
        </td>
        <td>
            {number_of_reactions}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Reactions
            </strong>
        </td>
        <td>
            {reactions}
        </td>
    </tr>
</table>