matplotlib
networkx
pygraphviz
pipenv
ipython
vulture
safety
pre-commit
twine
sphinx
ipykernel
nbsphinx
pytest
pytest-cov
pytest-xdist
pytest-sugar
pytest-travis-fold
tox-travis
coveralls
requests
gevent
grequests
requests-cache
pylint
autopep8
