matplotlib
networkx
pygraphviz
sphinx
ipykernel
nbsphinx
pylint
autopep8
pytest
pytest-cov
pytest-xdist
pytest-sugar
pytest-travis-fold
tox-travis
coveralls
requests
pipenv
ipython
vulture
safety
pre-commit
twine
