<table>
    <tr>
        <td>
            <strong>
                ID
            </strong>
        </td>
        <td>
            {id}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Version
            </strong>
        </td>
        <td>
            {version}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Name
            </strong>
        </td>
        <td>
            {name}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Memory Address
            </strong>
        </td>
        <td>
            {memory_address}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Number of Species
            </strong>
        </td>
        <td>
            {number_of_species}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Species
            </strong>
        </td>
        <td>
            {species}
        </td>
    </tr>
</table>