<table>
    <tr>
        <td>
            <strong>
                ID
            </strong>
        </td>
        <td>
            {id}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Name
            </strong>
        </td>
        <td>
            {name}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Memory Address
            </strong>
        </td>
        <td>
            {memory_address}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Number of Versions
            </strong>
        </td>
        <td>
            {number_of_versions}
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Versions
            </strong>
        </td>
        <td>
            {versions}
        </td>
    </tr>
</table>